@page
@using Inventory.Repository.BillTypeService;
@using Inventory.Repository.Paning;
@using Inventory.ViewModel.Bills;
@model Inventory.Web.Pages.ABillType.IndexModel
@* @using PaginatedList<BillTypeListViewModel>; *@
@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-6">
        Add New Bill Type
        <a asp-action="" class="btn btn-primary">Add</a>
    </div>
    <div class="col-6">Search Here </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Bill-Type Id</th>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
               @*  @foreach(var item in )
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BillTypesId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BillTypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a asp-action="" class="btn btn-primary" >Edit</a>
                            <a asp-action="" class="btn btn-danger">Edit</a>
                        </td>
                    </tr>
                } *@
               
            </tbody>
        </table>
    </div>
</div>